<div class="row">
    <div class="col"> 
        <app-button></app-button>
        <app-tabs [tabsArray] = 'tabs' (onTabChange)="tabChange($event)"></app-tabs>
    </div>
</div>
<form class="container" *ngIf="activatedTabIndex == 0">
<form class="row g-3">
    <div class="col-md-6" >
      <label class="form-label" >District</label>
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col-md-6" >
      <label class="form-label" >Project Name</label>
      <input type="text" class="form-control" placeholder="Optional">
    </div>

    <div class="col-md-6">
      <label class="form-label" >Promoter Name</label>
      <input type="text" class="form-control" placeholder="Optional">
    </div>
    <div class="col-md-6">
      <label class="form-label" >Registration Number</label>
      <input type="text" class="form-control" placeholder="Optional">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>Punjab</option>
        <option>Haryana</option>
  
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</form>
<form class="container" *ngIf="activatedTabIndex == 1">
    <form class="row g-3">
        <div class="col-md-6" >
          <label class="form-label" >District</label>
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col-md-6">
          <label class="form-label" >Project Name</label>
          <input type="text" class="form-control" placeholder="Optional">
        </div>
    
        <div class="col-md-6">
          <label class="form-label" >Quarterly Updates of project</label>
          <input type="text" class="form-control" placeholder="Optional">
        </div>
        <div class="col-md-6">
          <label class="form-label" >Registration Number</label>
          <input type="text" class="form-control" placeholder="Optional">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>Punjab</option>
            <option>Haryana</option>
      
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </form>
    <form class="container" *ngIf="activatedTabIndex == 2">
        <form class="row g-3">
            <div class="col-md-6" >
              <label class="form-label" >District</label>
              <input type="text" class="form-control" placeholder="First name">
            </div>
          </form>
        </form>
        <form class="container" *ngIf="activatedTabIndex == 3">
            <form class="row g-3">
                <div class="col-md-6" >
                  <label class="form-label" >District</label>
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <label class="form-label" >Project Name</label>
                  <input type="text" class="form-control" placeholder="Optional">
                </div>
            
                <div class="col-md-6">
                  <label class="form-label" >Promoter Name</label>
                  <input type="text" class="form-control" placeholder="Optional">
                </div>
              </form>
            </form>

